section.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}
.vegetable {
  min-width: 9.5rem;
  max-width: 14rem;
  flex: 1;
  margin: 0;
  --block-spacing-vertical: var(--spacing);
  --block-spacing-horizontal: var(--spacing);
  border-radius: 0.5rem;
}
@media not (min-width: 992px) {
  .desktop {
    display: none;
  }
}
@media (min-width: 992px) {
  .mobile {
    display: none;
  }
}
